{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", master}},
    {neotoma, ".*", {git, "git://github.com/seancribbs/neotoma.git", master}}
]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%{cover_enabled, true}.
%{cover_print_enable, true}.


