{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [neotoma]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [
    {rebar_edown_plugin,
        {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
    },
    rebar3_neotoma_plugin
]}.

{provider_hooks, [
    {pre, [{compile, {neotoma, compile}}]}
]}.

{edoc_opts,[
    {doclet, edown_doclet},
    {edown_target, github},
    {top_level_readme, {"./README.md", "http://github.com/altenwald/ephp"}}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
